@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ------ Variables ------ */
:root {
	--main-background-color: #1e1f22;
	--main-border-color: rgba(212, 212, 255, 0.1);
	--main-focus-color: #198754;
}

.splash {
  height: 100vh;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: var(--main-focus-color) !important;
}

.icon-overlay:hover, .icon-overlay:focus {
  color: var(--main-focus-color) !important;
}

.secondary {
  color: #b8b8b8
}

.moviedb { 
  background-image: url(../media/MovieDB.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moviedb:hover {
  background-image: url(../media/MovieDB.gif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pacman { 
  background-image: url(../media/PacMan.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pacman:hover {
  background-image: url(../media/PacMan.gif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gardenspy { 
  background-image: url(../media/GardenSpy.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gardenspy:hover {
  background-image: url(../media/GardenSpy.gif);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-footer {
  border-top: none!important;
  background-color: unset!important;
}